version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: cafeteria_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./db/migrate.sql:/docker-entrypoint-initdb.d/00-migrate.sql
      - ./db/schema.sql:/docker-entrypoint-initdb.d/schema.sql
      - ./db/seed.sql:/docker-entrypoint-initdb.d/seed.sql
      - ./db/reports_vw.sql:/docker-entrypoint-initdb.d/reports_vw.sql
      - ./db/indexes.sql:/docker-entrypoint-initdb.d/indexes.sql
      - ./db/roles.sql:/docker-entrypoint-initdb.d/roles.sql
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
